
#cabins {
    max-width: 100%;
    height: auto;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 1vh;
}

table, th, td {
    border: 1px solid grey;
    text-align: center;
}
th {
    height: 6vh;
}
td {
    height: 4vh;
}

#gallery, #display {
    display: flex;
    justify-content: center;
    text-align: center;
}
.galleryImage {
    margin: 0.5vh;
    opacity: 0.95;
}


.galleryImage:hover {
    opacity: 1;
}
